.weathercontainer{
    width: 80%;
    display: flex;  
    justify-content: space-around;
    margin-top: 20px;
    align-self: center;
}
.weekcontainer{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: flex-end;
}
.button{
    background-color: rgba(11, 105, 245, 0.993);
    border: none;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-left: 8px;
}
.buttondiv{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end   ;
    margin-right: 12px;
}
.activebutton{
    background-color: #61a8fa;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-left: 8px;
}

@media(width <= 720px){
    .buttondiv{
        position: fixed;
        right: 20px;
        top:45px;
    }
    .weathercontainer{
        flex-wrap: wrap;
    }

}
@media(720px <= width <= 1000px  ){
    .weathercontainer{
        flex-wrap: wrap;
    }
    .buttondiv{
        position:absolute;
        right: 20px;
        top:45px;
    }
}