.infocontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
    

}

.title{
    text-align: center;
    color: black;
    font-size: 2.8rem;
    margin-bottom: 8px;
}
.date{
    text-align: center;
    color: black;
    font-size: 24px; 
    margin-bottom: 8px;
}
.wind{
    width: 40px;
    height: 40px;
    margin: 0;
    border: 2px solid black;
}
.windDato{margin: 0;
    font-size: 18px;    }
.container{
    margin: 20px 0;
}


