.container{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 400px;
    
}
.img {
    height: 200px;
    width: 100%;
}
.currentH {
    align-self: center;
    
    font-size: 2.4rem;
}
.weathercode{
    align-self: center;
    font-size: 2.4rem;
    
}
.currentC{
    display: flex;
    
    flex-direction: column;
}
.openModal{
    width: 40%;
    height: 30px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: aquamarine;
    border-color: lightslategray ;
    margin-left: 8px;
    margin-top: 20px;
   
}
h3{
    align-self: center;
    font-size: 1.8rem;
}

@media (width <= 720px){
    .container{width: 100%;
    height: 300px;}
    .openModal{
        position: fixed;
        font-size: 1.6rem;
    }
    h3{align-self: center;
        font-size: 1.6rem;}
    .weathercode{
        font-size: 1.8rem;
    }
}
@media(720px <= width <= 1000px  ){
    .container{width: 100%;
        height: 300px;
    }
    h3{align-self: center;
    font-size: 1.6rem;}
    .openModal{
        position: fixed;
        font-size: 1.8rem;
    }
}