.ModalBackground {
  background: rgba(32,35,41,.8);
  position: fixed;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  overflow-y: scroll;
}
.citiesList{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  position: absolute;
  left: 0%;
  top:1%;
  width: 20%;
  background-color: rgb(0, 153, 173);
 
}
.searchInput{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.6rem;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  background-color: rgb(96, 238, 155);
}
.city{
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 12px;
  margin-left: 20px;
  color: black;
  background-color: aqua;
  border:none;
  border-radius: 8px;
  padding: 8px;
  font-family: Georgia, serif;
}
.upperText{
  color: black;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 1.8rem;
}
.cancelbutton{
  background-color: #61DAFA;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    font-family: sans-serif;
    transform: rotate(0);
    transition: .3s ease;
    z-index: 999;
}
@media( width <= 1000px  ){
  .citiesList{
      width: 50%;
  }
   
  }